openapi: 3.0.0
info:
  title: User API
  description: API for managing users
  version: 1.0.0
paths:
  /api/users:
    get:
      summary: Get all users
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Users
components:
  schemas:
    User:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          example: '1'
        name:
          type: string
          example: John Doe
        email:
          type: string
          example: john.doe@example.com
    GetUsersResponse:
      type: object
      required:
        - users
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          example: Internal server error
