services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.local
      args:
        - host_user_name=${host_user_name}
        - host_group_name=${host_group_name}
        - host_uid=${host_uid}
        - host_gid=${host_gid}
    volumes:
      - ./frontend:/app
    working_dir: /app
    ports:
      - "5173:5173"
