<h1>Show User</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @user.age %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.live_path(@socket, LvPracticeWeb.UserLive.Edit, @user) %></span> |
<span><%= live_redirect "Back", to: Routes.live_path(@socket, LvPracticeWeb.UserLive.Index) %></span>
